In [1]:
data = load("dados/dados.RData", verbose=TRUE)

Loading objects:
  inflacao_Y
  RC_
  x
  tab16_9A
  teste_quiquad
  err_pad
  fdamvnorm
  reg_resist
  tab16_5
  age
  tab16_6
  tab16_8
  dados.ex14_6
  moda2
  ano
  mean_sexo
  .First
  mean_idade
  tab6_13
  rbernoulli
  dados.tab4_14
  teste_t
  np_k
  e1
  e2
  MV
  e3
  tab14_10
  p.test
  varp
  q_i
  IC_proporcoes
  moda
  test_tab14_2
  test_tab14_5
  IC_t
  munic
  cd_municipios
  IC
  dados.ex4_4
  scatter.marginal
  c_hum
  dados.ex4_6
  tab4_18
  tab14_2
  tab14_5
  dureza
  dm
  cd_notas
  sex
  tab14_8
  cd_brasil
  c_bio
  n_k
  dados.tab4_7
  dados.tab4_8
  cd_temperaturas
  anos_exp
  IC_t_diff
  scdf
  .Random.seed
  n_clientes
  cd_veiculos
  cd_mercado
  RC
  tab15_1
  tab15_4
  .Last
  tab2_1
  teste_var
  summary2
  acidentes
  cd_poluicao
  IC_diff_medias

In [2]:
tab2_1

   N  estado_civil grau_instrucao     n_filhos salario idade_anos idade_meses
1   1 solteiro     ensino fundamental NA        4.00   26          3
2   2 casado       ensino fundamental  1        4.56   32         10
3   3 casado       ensino fundamental  2        5.25   36          5
4   4 solteiro     ensino médio       NA        5.73   20         10
5   5 solteiro     ensino fundamental NA        6.26   40          7
6   6 casado       ensino fundamental  0        6.66   28          0
7   7 solteiro     ensino fundamental NA        6.86   41          0
8   8 solteiro     ensino fundamental NA        7.39   43          4
9   9 casado       ensino médio        1        7.59   34         10
10 10 solteiro     ensino médio       NA        7.44   23          6
11 11 casado       ensino médio        2        8.12   33          6
12 12 solteiro     ensino fundamental NA        8.46   27         11
13 13 solteiro     ensino médio       NA        8.74   37          5
14 14 casado       ensino fundamental  3        8.95   44          2
15 15 casado       ensino médio        0        9.13   30          5
16 16 solteiro     ensino médio       NA        9.35   38          8
17 17 casado       ensino médio        1        9.77   31          7
18 18 casado       ensino fundamental  2        9.80   39          7
19 19 solteiro     superior           NA       10.53   25          8
20 20 solteiro     ensino médio       NA       10.76   37          4
21 21 casado       ensino médio        1       11.06   30          9
22 22 solteiro     ensino médio       NA       11.59   34          2
23 23 solteiro     ensino fundamental NA       12.00   41          0
24 24 casado       superior            0       12.79   26          1
25 25 casado       ensino médio        2       13.23   32          5
26 26 casado       ensino médio        2       13.60   35          0
27 27 solteiro     ensino fundamental NA       13.85   46          7
28 28 casado       ensino médio        0       14.69   29          8
29 29 casado       ensino médio        5       14.71   40          6
30 30 casado       ensino médio        2       15.99   35         10
31 31 solteiro     superior           NA       16.22   31          5
32 32 casado       ensino médio        1       16.61   36          4
33 33 casado       superior            3       17.26   43          7
34 34 solteiro     superior           NA       18.75   33          7
35 35 casado       ensino médio        2       19.40   48         11
36 36 casado       superior            3       23.30   42          2
   reg_procedencia
1  interior
2  capital
3  capital
4  outra
5  outra
6  interior
7  interior
8  capital
9  capital
10 outra
11 interior
12 capital
13 outra
14 outra
15 interior
16 outra
17 capital
18 outra
19 interior
20 interior
21 outra
22 capital
23 outra
24 outra
25 interior
26 outra
27 outra
28 interior
29 interior
30 capital
31 outra
32 interior
33 capital
34 capital
35 capital
36 interior