<center>
    <h1>Estastística Básica - Bussab e Morettin</h1>
    <h2>Capítulo 04 - Análise< Bidimensional/h2>
</center>

## Resumo

***
 
- [Plots for Two Variables | Statistics Tutorial | MarinStatsLectures](https://www.youtube.com/watch?v=sbsY6neZ07g&list=PLqzoL9-eJTNBZDG8jaNuhap1C9q6VHyVa&index=9&t=8s&ab_channel=MarinStatsLectures-RProgramming%26Statistics)
- [Frequency Distribution Tables and Graphs for Two Variables](https://www.youtube.com/watch?v=C__VvpvUIMw&ab_channel=StatisticsandResearchwithDr.WendiL.Benson)


***Gráficos para Duas Variáveis (Gráficos de Associação)***

- Categórica vs. Numérica: Boxplot quebrado em categorias;
- Categórica vs. Categórica: Gráfico de barras agrupadas / gráfico de barras empilhado / *Mosaic plot*;
- Numérica vs. Numérica: Gráfico de Dispersão / 

***Metódos de Análise para Duas Variáveis***

- Categórica vs. Numérica: 
  - Teste-t para duas populações;
  - Análise de variância (ANOVA) 

- Categórica vs. Categórica:
  - Teste chi-quadrado;
  - Teste de Fisher

- Numérica vs. Numérica:
  - Correlação de Pearson/Sperman
  - Regressão Linear

***Testes e Medidas de Associação***

- O teste de chi-quadrado para duas variáveis testa a hipótese nula de que as duas variáveis analisadas são independentes. Portanto, um valor alto de resultado no teste indica associação entre as variáveis (rejeição da hipótese nula).

- O Coeficiente de Contingência de Pearson e suas alternativas, o de Cramér e Tschuprov, fornecem uma medida de associação de duas variáveis categóricas, um análogo a essas medidas seria o Coeficiente de Correlação Linear para variáveis quantitativas.

***Extras***

## Exercícios
***

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# import seabornstyle
plt.style.use("ggplot")

### Exercício 4.1 e 4.2

In [2]:
df = pd.read_csv('dados/tab2_1.csv')
df.head()

,N,estado_civil,grau_instrucao,n_filhos,salario,idade_anos,idade_meses,reg_procedencia
0,1,solteiro,ensino fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino médio,NaN,5.73,20,10,outra
4,5,solteiro,ensino fundamental,NaN,6.26,40,7,outra

In [3]:
freq = pd.crosstab(df["reg_procedencia"], df["grau_instrucao"], margins=True)

freq_tgeral = (
    pd.crosstab(
        df["reg_procedencia"], df["grau_instrucao"], margins=True, normalize="all"
    ))

freq_colunas = (
    pd.crosstab(
        df["reg_procedencia"], df["grau_instrucao"], margins=True, normalize="columns"
    ))

freq_linhas = (
    pd.crosstab(
        df["reg_procedencia"], df["grau_instrucao"], margins=True, normalize="index"
    ))

display(freq, freq_tgeral, freq_colunas, freq_linhas)

grau_instrucao   ensino fundamental  ensino médio  superior  All
reg_procedencia
capital                           4             5         2   11
interior                          3             7         2   12
outra                             5             6         2   13
All                              12            18         6   36

grau_instrucao   ensino fundamental  ensino médio  superior       All
reg_procedencia
capital                    0.111111      0.138889  0.055556  0.305556
interior                   0.083333      0.194444  0.055556  0.333333
outra                      0.138889      0.166667  0.055556  0.361111
All                        0.333333      0.500000  0.166667  1.000000

grau_instrucao   ensino fundamental  ensino médio  superior       All
reg_procedencia
capital                    0.333333      0.277778  0.333333  0.305556
interior                   0.250000      0.388889  0.333333  0.333333
outra                      0.416667      0.333333  0.333333  0.361111

grau_instrucao   ensino fundamental  ensino médio  superior
reg_procedencia
capital                    0.363636      0.454545  0.181818
interior                   0.250000      0.583333  0.166667
outra                      0.384615      0.461538  0.153846
All                        0.333333      0.500000  0.166667

- 50% dos funcionários possuem ensino médio.
- 19% dos funcionários possuem ensino médio e são do interior.
- Dentre os funcionários do interior, 58% possuem o ensino médio.

***

- Sorteando um funcionário ao acaso, há 50% de chance dele possuir o ensino médio.
- Sorteando um funcionário ao acaso, há 33% de chance dele vir do interior.
- Há probabilidade de um sorteado ter nível superior é de 16%.
- Sabendo que o sorteado é do interior, a probabilidade dele ter nível superior é de 16%.
- Sabendo que o sorteado é da capital, a probabilidade dele ter nível superior é de 18%.

## Exercício 4.3

In [4]:
df = pd.DataFrame({"X": [1, 3, 2, 3, 2, 2, 3, 1, 2, 3, 2, 3, 1, 2, 3, 4, 1, 2, 2, 2, 2, 3, 4, 1, 2, 3, 4, 1, 4, 3, 2 ,1, 4, 2, 4, 3, 1, 3, 2, 2],
                   "Y": [6, 2, 4, 1, 4, 1, 3, 5, 2, 2, 5, 2, 6, 6, 2, 2, 5, 5, 1, 1, 4, 2, 1, 5, 4, 2, 1, 5, 4, 3, 2 ,1, 1, 6, 2, 1, 4, 2, 3, 5]})

df = df.assign(Nivel_Emprego=np.select([df["X"] >= df["X"].median(), df["X"] < df["X"].median()], ["Alto", "Baixo"]),
               Nivel_Salario=np.select([df["Y"] >= df["Y"].median(), df["Y"] < df["Y"].median()], ["Alto", "Baixo"]))

display(
    pd.crosstab(df["Nivel_Emprego"], df["Nivel_Salario"], normalize=True, margins=True),
    pd.crosstab(df["Nivel_Emprego"], df["Nivel_Salario"], normalize=False, margins=True)
)

Nivel_Salario   Alto  Baixo  All
Nivel_Emprego
Alto           0.325  0.475  0.8
Baixo          0.175  0.025  0.2
All            0.500  0.500  1.0

Nivel_Salario  Alto  Baixo  All
Nivel_Emprego
Alto             13     19   32
Baixo             7      1    8
All              20     20   40

- 2% das pessoas possuem baixa rotatividade e ganham pouco.
- 50% das pessoas ganham pouco.
- Dentre as pessoas com baixa rotatividade, 12,5% ganham pouco.

## Exercício 4.4

- Se houvesse independência entre a região de procedência e o nível de educação do funcionário teriamos uma distribuição de 33% para cada nível de educação, a despeito da região de procedência. Olhando para a terceira tabela do exercício 4.1, vemos que esse não é o caso.

## Exercício 4.5

In [5]:
df = pd.DataFrame({"X": [1, 3, 2, 3, 2, 2, 3, 1, 2, 3, 2, 3, 1, 2, 3, 4, 1, 2, 2, 2, 2, 3, 4, 1, 2, 3, 4, 1, 4, 3, 2 ,1, 4, 2, 4, 3, 1, 3, 2, 2],
                   "Y": [6, 2, 4, 1, 4, 1, 3, 5, 2, 2, 5, 2, 6, 6, 2, 2, 5, 5, 1, 1, 4, 2, 1, 5, 4, 2, 1, 5, 4, 3, 2 ,1, 1, 6, 2, 1, 4, 2, 3, 5]})

df = df.assign(Rotatividade_Emprego=np.select([df["X"] >= df["X"].median(), df["X"] < df["X"].median()], ["Alto", "Baixo"]),
               Nivel_Salario=np.select([df["Y"] >= df["Y"].median(), df["Y"] < df["Y"].median()], ["Alto", "Baixo"]))

display(
    pd.crosstab(df["Rotatividade_Emprego"], df["Nivel_Salario"], normalize="columns", margins=True) * 100,
    pd.crosstab(df["Rotatividade_Emprego"], df["Nivel_Salario"], normalize=False, margins=True)
)

Nivel_Salario         Alto  Baixo   All
Rotatividade_Emprego
Alto                  65.0   95.0  80.0
Baixo                 35.0    5.0  20.0

Nivel_Salario         Alto  Baixo  All
Rotatividade_Emprego
Alto                    13     19   32
Baixo                    7      1    8
All                     20     20   40

- Há associação entre as variáveis rotatividade e salário. Na primeira tabela vemos que 95% das pessoas com baixo salário possuem alta rotatividade nos empregos.

## Exercício 4.7

- [scipy.stats.contingency.association()](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.contingency.association.html#scipy.stats.contingency.association)
- [Python – Pearson’s Chi-Square Test](https://www.geeksforgeeks.org/python-pearsons-chi-square-test/)

In [6]:
from scipy.stats import chi2_contingency
from scipy.stats.contingency import association

In [17]:
def associacao_vars_categoricas(freqs: list[list[int]]) -> None:

    stat_chi_sqr, pvalue, dof, expec_freq = chi2_contingency(freqs, correction=False)
    stat_c = association(freqs, method="pearson")
    stat_t = association(freqs, method="tschuprow")
    
    print(f"Os valores pedidos são:\n\n"
        f"Chi-quadrado de Pearson: {stat_chi_sqr:.4f}\n"
        f"\tA hipótese nula é de que os valores observados são próximos do valores esperados da distribuição. Isto é, \n"
        f"\tde que as duas variáveis são dependentes.\n"
        f"\tO p-valor da estatística é: {pvalue:.4f}. \n"
        f"Coeficiente de Contingência de Pearson: {stat_c:.4f}\n"
        f"Coeficiente de Contingência de Tschuprow: {stat_t:.4f}\n")

In [16]:
df = pd.read_csv('dados/tab2_1.csv')

frequencies = pd.crosstab(df["reg_procedencia"], df["grau_instrucao"])
frequencies = frequencies.to_numpy()

frequencies

array([[4, 5, 2],
       [3, 7, 2],
       [5, 6, 2]], dtype=int64)

In [9]:
associacao_vars_categoricas(frequencies)

Os valores pedidos são:

Chi-quadrado de Pearson: 0.6614
	A hipótese nula é de que os valores observados são próximos do valores esperados da distribuição. Isto é,
	de que as duas variáveis são dependentes.
	O p-valor da estatística é: 0.9560.
Coeficiente de Contingência de Pearson: 0.1343

Os resultados obtidos batem com os vistos no exercício 4.4 e temos um forte indício que as variáveis não estão associadas.

## Exercício 4.8

In [12]:
df = pd.DataFrame({"X": [1, 3, 2, 3, 2, 2, 3, 1, 2, 3, 2, 3, 1, 2, 3, 4, 1, 2, 2, 2, 2, 3, 4, 1, 2, 3, 4, 1, 4, 3, 2 ,1, 4, 2, 4, 3, 1, 3, 2, 2],
                   "Y": [6, 2, 4, 1, 4, 1, 3, 5, 2, 2, 5, 2, 6, 6, 2, 2, 5, 5, 1, 1, 4, 2, 1, 5, 4, 2, 1, 5, 4, 3, 2 ,1, 1, 6, 2, 1, 4, 2, 3, 5]})

df = df.assign(Nivel_Emprego=np.select([df["X"] >= df["X"].median(), df["X"] < df["X"].median()], ["Alto", "Baixo"]),
               Nivel_Salario=np.select([df["Y"] >= df["Y"].median(), df["Y"] < df["Y"].median()], ["Alto", "Baixo"]))

frequencies_p3 = pd.crosstab(df["Nivel_Emprego"], df["Nivel_Salario"], normalize=False).to_numpy()

frequencies_p3

array([[13, 19],
       [ 7,  1]], dtype=int64)

In [20]:
associacao_vars_categoricas(frequencies_p3)

Os valores pedidos são:

Chi-quadrado de Pearson: 5.6250
	A hipótese nula é de que os valores observados são próximos do valores esperados da distribuição. Isto é,
	de que as duas variáveis são dependentes.
	O p-valor da estatística é: 0.0177.
Coeficiente de Contingência de Pearson: 0.3511
Coeficiente de Contingência de Tschuprow: 0.3750

Os resultados acima indicam que as variáveis analisadas (número de empregos nos últimos dois anos e salário mais recente) podem estar associadas.

In [19]:
frequencies_p6 = np.array([[100, 150], [900, 850]])

associacao_vars_categoricas(frequencies_p6)

Os valores pedidos são:

Chi-quadrado de Pearson: 11.4286
	A hipótese nula é de que os valores observados são próximos do valores esperados da distribuição. Isto é,
	de que as duas variáveis são dependentes.
	O p-valor da estatística é: 0.0007.
Coeficiente de Contingência de Pearson: 0.0754
Coeficiente de Contingência de Tschuprow: 0.0756

O resultado do teste de chi-quadrado de Pearson indica que as variáveis estão associadas, mas de uma maneira sútil.

## Exercício 4.9

In [21]:
M = np.array([[64, 120, 16], [104, 175, 21], [27, 48, 5]])

associacao_vars_categoricas(M)

Os valores pedidos são:

Chi-quadrado de Pearson: 0.6140
	A hipótese nula é de que os valores observados são próximos do valores esperados da distribuição. Isto é,
	de que as duas variáveis são dependentes.
	O p-valor da estatística é: 0.9615.
Coeficiente de Contingência de Pearson: 0.0325
Coeficiente de Contingência de Tschuprow: 0.0230

Analisando os resultados dos testes acima vemos que não há base quantitativa para a afirmação da empresa de detetização.